USE [master]
GO
/****** Object:  Database [UsuariosDB]    Script Date: 06/10/2022 0:37:32 ******/
CREATE DATABASE [UsuariosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USUARIOSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\USUARIOSDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'USUARIOSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\USUARIOSDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsuariosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsuariosDB]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 06/10/2022 0:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[user] [varchar](max) NULL,
	[pass] [varchar](max) NULL,
	[icon] [image] NULL,
	[status] [varchar](max) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[delete_users]    Script Date: 06/10/2022 0:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_users] @ID INT
AS
DELETE FROM Usuarios WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[edit_users]    Script Date: 06/10/2022 0:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[edit_users] (@ID INT, @user AS VARCHAR(MAX), @pass VARCHAR(MAX), @icon IMAGE, @status VARCHAR(MAX))
AS
IF EXISTS (SELECT [user] FROM Usuarios WHERE [user] = @user AND ID <> @ID)
RAISERROR ('Usuario en uso, usa otro nombre de usuario por favor',16,1)
ELSE
UPDATE Usuarios SET [user] = @user, pass = @pass, icon = @icon, [status] = @status WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[insert_users]    Script Date: 06/10/2022 0:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_users]
@user AS VARCHAR(max),
@pass AS VARCHAR(max),
@icon AS IMAGE,
@status AS VARCHAR(max)
AS
IF EXISTS (SELECT [user] FROM Usuarios WHERE [user] = @user)
RAISERROR('Usuario ya registrado',16,1)
ELSE
INSERT INTO Usuarios
VALUES(@user, @pass, @icon, @status)
GO
/****** Object:  StoredProcedure [dbo].[search_users]    Script Date: 06/10/2022 0:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[search_users] @search VARCHAR(50)
AS
SELECT * FROM Usuarios
WHERE [user] + pass LIKE '%' + @search + '%'
GO
/****** Object:  StoredProcedure [dbo].[show_users]    Script Date: 06/10/2022 0:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[show_users]
AS	
SELECT * FROM Usuarios
GO
USE [master]
GO
